.account-container {
    min-width: 95%;
    min-height: 95%;
    gap: 1vw;
    align-items: stretch;
    position: relative;
  }
  
  .account-container-left {
    width: 40%;
    height: 100%;
    gap: 1vw;
    align-items: stretch;
  }
  
  .account-container-right {
    width: 55%;
    height: 100%;
    gap: 1vw;
    align-items: stretch;
  }
  
  .account-container-myaccounts {
    width: 100%;
    height: 100%;
    gap: 1vw;
    align-items: center;
    justify-content: start;
  }
  .account-container-myaccounts-title {
    width: 100%;
    font-size: 1.5vw;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1vw;
  }
  .account-container-myaccounts-table {
    width: 90%;
    max-height: 70vh;
    gap: 1vw;
    align-items: center;
    justify-content: start;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.05);
  }
  
  .account-container-myaccounts-table-item {
    width: 100%;
    gap: 0.3vw;
  }
  
  .account-container-myaccounts-table-item-number {
    width: 90%;
    color: #000000a4;
    text-transform: uppercase;
    text-align: left;
    margin-top: 1vw;
  }
  .account-container-myaccounts-table-item-product {
    width: 90%;
    font-size: 1vw;
    font-weight: 300;
    color: #000000;
    text-transform: uppercase;
    text-align: left;
  }
  
  .account-container-myaccounts-table-item-name {
    width: 90%;
    font-size: 1vw;
    font-weight: 300;
    color: #000000;
    text-transform: uppercase;
    font-style: italic;
    text-align: left;
  }
  
  .account-container-myaccounts-table-item-currency {
    width: 90%;
    font-size: 1vw;
    font-weight: 300;
    color: #000000;
    text-transform: uppercase;
    text-align: left;
  }
  
  .account-container-myaccounts-table-item-value {
    width: 90%;
    font-size: 1vw;
    font-weight: 300;
    color: #000000;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 1vw;
  }
  
  .account-container-myaccounts-table-item-value .account-value {
    color: #141f33;
    font-weight: 500;
    margin-left: 0.5vw;
  }
  
  .account-container-myaccounts-table-item-currency .account-currency,
  .account-container-myaccounts-table-item-value .account-value,
  .account-container-myaccounts-table-item-value .dollar,
  .account-container-myaccounts-table-item-product .account-product {
    color: #121213;
    font-weight: 800;
    margin-left: 0.5vw;
  }
  
  .account-container-right-refaccount {
    width: 100%;
    height: 18vh;
    gap: 1vw;
    align-items: center;
    justify-content: start;
  }
  
  .account-container-right-refaccount-title {
    width: 90%;
    font-size: 1.5vw;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
    text-align: left;
    margin-top: 1vw;
  }
  
  .account-container-right-refaccount-number {
    width: 90%;
    font-size: 1vw;
    font-weight: 300;
    color: #000000;
    text-transform: uppercase;
    text-align: left;
  }
  
  .account-container-right-refaccount-text {
    width: 90%;
    font-size: 2.2vw;
    font-weight: 900;
    color: #141f33;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 1vw;
  }
  
  .account-container-buttons {
    width: 100%;
    height: 100%;
    gap: 1vw;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .account-container-buttons-item {
    position: relative;
    width: 23vw;
    height: 15vw;
    gap: 1vw;
    align-items: center;
    justify-content: start;
  }
  
  .account-container-buttons-item-title {
    width: 90%;
    font-size: 1.5vw;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
    text-align: left;
    margin-top: 1vw;
  }
  
  .account-container-buttons-item-button {
    position: absolute;
    bottom: 2vw;
    width: 80%;
    height: 2vw;
    text-transform: uppercase;
    text-align: center;
    font-size: 1vw;
    font-weight: 600;
    color: #ffffff;
    background: linear-gradient(90deg, #9bc7ec 0%, #8bced6 50%, #a2d2b7 100%);
  }
  
  /* ADD ACCOUNT MODAL WINDOW */
  .account-container-addAccount-modal-window {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1000;
  }
  
  .account-container-addAccount-modal-window-menu {
    width: 20vw;
    height: 25vw;
    background-color: #141f33;
    z-index: 1001;
    box-shadow: 0 0 1.5vw 0.8vw rgba(0, 0, 0, 0.671);
    justify-content: start;
    align-items: center;
  }
  
  .account-container-addAccount-modal-window-menu-cancel {
    position: absolute;
    top: 1vw;
    right: 1vw;
    width: 2vw;
    height: 2vw;
  }
  
  .account-container-addAccount-modal-window-menu-cancel-icon{
      width: 100%;
      height: 100%;
      background-image: url("../../../IMG/profiles/white/exit.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
  }
  
  .account-container-addAccount-modal-window-menu-title{
      width: 90%;
      font-size: 1.5vw;
      font-weight: 600;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center;
      margin-top: 4vw;
  }
  
  .account-container-addAccount-modal-window-menu-item{
      width: 90%;
      gap: .2vw;
      align-items: center;
      justify-content: start;
  }
  
  .account-container-addAccount-modal-window-menu-item label{
      font-size: 1vw;
      font-weight: 600;
      color: #ffffff;
      text-transform: uppercase;
      text-align: left;
      margin-top: 1vw;
  
  }
  
  .account-container-addAccount-modal-window-menu-item input{
      width: 16vw;
      height: 2vw;
      padding: 0 1vw;
      font-size: 1vw;
      font-weight: 600;
      color: #000000;
      text-transform: uppercase;
      text-align: left;
      
  }
  .account-container-addAccount-modal-window-menu-item select{
      width: 18vw;
      height: 2vw;
      padding: 0 1vw;
      font-size: 1vw;
      font-weight: 600;
      color: #000000;
      text-transform: uppercase;
      text-align: left;
  
  }
  
  
  .account-container-addAccount-modal-window-menu-button{
      position: absolute;
      bottom: 2vw;
      width: 18vw;
      height: 2vw;
      text-transform: uppercase;
      text-align: center;
      font-size: 1vw;
      font-weight: 600;
      color: #ffffff;
      background: linear-gradient(90deg, #9bc7ec 0%, #8bced6 50%, #a2d2b7 100%);
  }
  
  
  
  
  
  /* WITHDRAWAL REQUEST MODAL WINDOW */
  .account-container-withdrawl-modal-window {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(3px);
      z-index: 1000;
    }
    
    .account-container-withdrawl-modal-window-menu {
      width: 20vw;
      height: 35vw;
      background-color: #141f33;
      z-index: 1001;
      box-shadow: 0 0 1.5vw 0.8vw rgba(0, 0, 0, 0.671);
      justify-content: start;
      align-items: center;
    }
    
    .account-container-withdrawl-modal-window-menu-cancel {
      position: absolute;
      top: 1vw;
      right: 1vw;
      width: 2vw;
      height: 2vw;
    }
    
    .account-container-withdrawl-modal-window-menu-cancel-icon{
        width: 100%;
        height: 100%;
        background-image: url("../../../IMG/profiles/white/exit.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .account-container-withdrawl-modal-window-menu-title{
        width: 90%;
        font-size: 1.5vw;
        font-weight: 600;
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        margin-top: 4vw;
    }
    
    .account-container-withdrawl-modal-window-menu-item{
        width: 90%;
        gap: .2vw;
        align-items: center;
        justify-content: start;
    }
    
    .account-container-withdrawl-modal-window-menu-item label{
        font-size: 1vw;
        font-weight: 600;
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        margin-top: 1vw;
    
    }
    
    .account-container-withdrawl-modal-window-menu-item input{
        width: 16vw;
        height: 2vw;
        padding: 0 1vw;
        font-size: 1vw;
        font-weight: 600;
        color: #000000;
        text-transform: uppercase;
        text-align: left;
        
    }

    .account-container-withdrawl-modal-window-menu-item textarea{
      width: 16vw;
      height: 8vw;
      padding: .2vw 1vw;
      font-size: 1vw;
      font-weight: 600;
      color: #000000;
      text-transform: uppercase;
      text-align: left;
      
  }

    .account-container-withdrawl-modal-window-menu-item select{
        width: 18vw;
        height: 2vw;
        padding: 0 1vw;
        font-size: 1vw;
        font-weight: 600;
        color: #000000;
        text-transform: uppercase;
        text-align: left;
    
    }
    
    
    .account-container-withdrawl-modal-window-menu-button{
        position: absolute;
        bottom: 2vw;
        width: 18vw;
        height: 2vw;
        text-transform: uppercase;
        text-align: center;
        font-size: 1vw;
        font-weight: 600;
        color: #ffffff;
        background: linear-gradient(90deg, #9bc7ec 0%, #8bced6 50%, #a2d2b7 100%);
    }
  
  
    /* TRANSFER REQUEST MODAL WINDOW */
  
    .account-container-transfer-modal-window {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(3px);
      z-index: 1000;
    }
    
    .account-container-transfer-modal-window-menu {
      width: 20vw;
      height: 35vw;
      background-color: #141f33;
      z-index: 1001;
      box-shadow: 0 0 1.5vw 0.8vw rgba(0, 0, 0, 0.671);
      justify-content: start;
      align-items: center;
    }
    
    .account-container-transfer-modal-window-menu-cancel {
      position: absolute;
      top: 1vw;
      right: 1vw;
      width: 2vw;
      height: 2vw;
    }
    
    .account-container-transfer-modal-window-menu-cancel-icon{
        width: 100%;
        height: 100%;
        background-image: url("../../../IMG/profiles/white/exit.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .account-container-transfer-modal-window-menu-title{
        width: 90%;
        font-size: 1.5vw;
        font-weight: 600;
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        margin-top: 4vw;
    }
    
    .account-container-transfer-modal-window-menu-item{
        width: 90%;
        gap: .2vw;
        align-items: center;
        justify-content: start;
    }
    
    .account-container-transfer-modal-window-menu-item label{
        font-size: 1vw;
        font-weight: 600;
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        margin-top: 1vw;
    
    }
    
    .account-container-transfer-modal-window-menu-item input{
        width: 16vw;
        height: 2vw;
        padding: 0 1vw;
        font-size: 1vw;
        font-weight: 600;
        color: #000000;
        text-transform: uppercase;
        text-align: left;
        
    }
    .account-container-transfer-modal-window-menu-item select{
        width: 18vw;
        height: 2vw;
        padding: 0 1vw;
        font-size: 1vw;
        font-weight: 600;
        color: #000000;
        text-transform: uppercase;
        text-align: left;
    
    }
    
    
    .account-container-transfer-modal-window-menu-button{
        position: absolute;
        bottom: 2vw;
        width: 18vw;
        height: 2vw;
        text-transform: uppercase;
        text-align: center;
        font-size: 1vw;
        font-weight: 600;
        color: #ffffff;
        background: linear-gradient(90deg, #9bc7ec 0%, #8bced6 50%, #a2d2b7 100%);
    }
  
  
  /* CREATE REQUEST ADDING ACCOUNT MODAL WINDOW */
  
  .account-container-craa-modal-window {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(3px);
      z-index: 1000;
      overflow: hidden;
    }
    
    .account-container-craa-modal-window-menu {
      width: 20vw;
      height: 40vw;
      background-color: #141f33;
      z-index: 1001;
      box-shadow: 0 0 1.5vw 0.8vw rgba(0, 0, 0, 0.671);
      justify-content: start;
      align-items: center;
    }
    
    .account-container-craa-modal-window-menu-cancel {
      position: absolute;
      top: 1vw;
      right: 1vw;
      width: 2vw;
      height: 2vw;
    }
    
    .account-container-craa-modal-window-menu-cancel-icon{
        width: 100%;
        height: 100%;
        background-image: url("../../../IMG/profiles/white/exit.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .account-container-craa-modal-window-menu-title{
        width: 90%;
        font-size: 1.5vw;
        font-weight: 600;
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        margin-top: 4vw;
    }
    
    .account-container-craa-modal-window-menu-item{
        width: 90%;
        gap: .2vw;
        align-items: center;
        justify-content: start;
    }
    
    .account-container-craa-modal-window-menu-item label{
        font-size: 1vw;
        font-weight: 600;
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        margin-top: 1vw;
    
    }
    
    .account-container-craa-modal-window-menu-item input{
        width: 16vw;
        height: 2vw;
        padding: 0 1vw;
        font-size: 1vw;
        font-weight: 600;
        color: #000000;
        text-transform: uppercase;
        text-align: left;
        
    }
    .account-container-craa-modal-window-menu-item select{
        width: 18vw;
        height: 2vw;
        padding: 0 1vw;
        font-size: 1vw;
        font-weight: 600;
        color: #000000;
        text-transform: uppercase;
        text-align: left;
    
    }
    
    
    .account-container-craa-modal-window-menu-button{
        position: absolute;
        bottom: 2vw;
        width: 18vw;
        height: 2vw;
        text-transform: uppercase;
        text-align: center;
        font-size: 1vw;
        font-weight: 600;
        color: #ffffff;
        background: linear-gradient(90deg, #9bc7ec 0%, #8bced6 50%, #a2d2b7 100%);
    }
  
    .account-container-craa-modal-window-menu-qrcode-title{
      font-size: 1vw;
      font-weight: 600;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center;
      margin-top: 1vw;
    }
  .account-container-craa-modal-window-menu-qrcode{
      width: 10vw;
      height: 10vw;
      background-color: #ffffff;
      margin-top: .2vw;
      overflow: hidden;
  }
  
  .account-container-craa-modal-window-menu-qrcode-img{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  .account-container-craa-modal-window-menu-qrcode-description{
      width: 100%;
      font-size: .7vw;
      font-weight: 400;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center;
      margin-top: .2vw;
      font-style: italic;
  }
  .account-container-craa-modal-window-menu-addChequ{
      width: 90%;
      gap: .2vw;
      align-items: center;
      justify-content: start;
      margin-top: 1vw;
  }
  .account-container-craa-modal-window-menu-addChequ-title{
      font-size: 1vw;
      font-weight: 600;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center;
  }
  
  .account-container-craa-modal-window-menu-addChequ-inputwrapper{
      position: relative;
      width: 90%;
      height: 2vw;
      padding: 0 1vw;
      font-size: 1vw;
      font-weight: 600;
      color: #000000;
      text-transform: uppercase;
      background-color: #ffffff;
  }
  .account-container-craa-modal-window-menu-addChequ-icon{
      position: absolute;
      top: 0;
      left: 0;
      width: 2vw;
      height: 2vw;
      background-color: #ffffff;
      overflow: hidden;
      background: linear-gradient(90deg, #9bc7ec 0%, #8bced6 50%, #a2d2b7 100%);
  }
  .account-container-craa-modal-window-menu-addChequ-icon-img{
      width: 100%;
      height: 100%;
      background-image: url("../../../IMG/profiles/white/save.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
  }
  
  .account-container-craa-modal-window-menu-addChequ input{
      position: absolute;
      left: 500%;
      width: 0;
      height: 0;
  }
  
  .account-container-craa-modal-window-menu-addChequ span{
      width: 100%;
      font-size: .7vw;
      font-weight: 400;
      color: #000000;
      text-transform: uppercase;
      text-align: left;
      margin-left: 1.5vw;
  }