.partners-program-container{
    width: 95%;
    height: 95%;
    gap: 1vw;
}

.partners-program-left{
    width: 65%;
    height: 100%;
    justify-content: start;
    gap: 1vw;
}

.partners-program-right{
    width: 35%;
    height: 100%;
    justify-content: start;
}

.partners-program-reflink{
    width: 100%;
    height: 10vw;
    gap: 1vw;
}

.partners-program-reflink-title,
.partners-program-right-title{
    width: 95%;
    font-size: 1.5vw;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
    text-align: left;
    margin-top: 1vw;
}
.partners-program-right-title{
    text-align: center;
}
.partners-program-reflink-link{
    position: relative;
    width: 95%;
    height: 3vw;
    font-size: 1.5vw;

}

.partners-program-reflink-link-button-container{
    position: absolute;
    right: 0;
    top: 0;
    width: 3vw;
    height: 3vw;
}

.partners-program-reflink-link-button{
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #9bc7ec 0%, #8bced6 50%, #a2d2b7 100%);
    z-index: 1;
}

.partners-program-reflink-link-button-tooltip{
    position: absolute;
    top: -3.5vw;
    right: 0;
    background: #141F33;
    color: #ffffff;
    padding: 0.5vw 1vw;
    border-radius: 0.5vw;
    font-size: 0.9vw;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 10;
    animation: fadeInOut 2s ease-in-out;
    pointer-events: none;
}

.partners-program-reflink-link-button-tooltip::after{
    content: '';
    position: absolute;
    bottom: -0.5vw;
    right: 1vw;
    width: 0;
    height: 0;
    border-left: 0.5vw solid transparent;
    border-right: 0.5vw solid transparent;
    border-top: 0.5vw solid #141F33;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(0.5vw);
    }
    15% {
        opacity: 1;
        transform: translateY(0);
    }
    85% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(0.5vw);
    }
}

.partners-program-reflink-link-button-img{
    width: 80%;
    height: 80%;
    background-image: url("../../../IMG/profiles/white/Foreign.png");
}

.partners-program-aboutreferal{
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}

.partners-program-reflink-text{
    width: 95%;
    font-size: .8vw;
    font-weight: 400;
    color: #121213B2;
    text-align: left;
    margin-bottom: 1vw;
}

.partners-program-aboutreferal-text,
.partners-program-aboutreferal-accounts{
    width: 47%;
    gap: 1vw;
    justify-content: start;
}

.partners-program-aboutreferal-text-bookmark{
    width: 85%;
    height: 3vw;
    margin-top: 2vw;
}
.partners-program-aboutreferal-text-bookmark-img{
    width: 3vw;
    height: 3vw;
    background-image: url("../../../IMG/profiles/white/Bookmark.png");
}

.partners-program-aboutreferal-text-title{
    width: 85%;
    font-size: 1.5vw;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
    margin-top: 1vw;

}
.partners-program-aboutreferal-text-text{
    width: 85%;
    font-size: 1vw;
    font-weight: 300;
    color: #ffffff;
    text-align: left;
    line-height: 1.5;
    gap: 1vw;
    text-indent: 1vw;
    text-align: justify;
}
.partners-program-aboutreferal-accounts{
    gap: 1vw;
    justify-content: space-between;
}

.partners-program-aboutreferal-account-item{
    width: 100%;
    height: 50%;
    gap: 1vw;
    justify-content: start;
    position: relative;
}

.partners-program-aboutreferal-account-item-title{
    width: 60%;
    font-size: 1.5vw;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    text-align: left;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: auto;
}

.partners-program-aboutreferal-account-item-text{
    width: 50%;
    font-size: 2.5vw;
    font-weight: 800;
    color: #141F33;
    text-transform: uppercase;
    text-align: left;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: auto;
    position: absolute;
    left: 1vw;
    bottom: 2vw;
}

.partners-program-aboutreferal-account-item-text-info{
    width: 90%;
    font-size: 1vw;
    font-weight: 400;
    color: #141F33;
    text-transform: none;
    text-align: left;
    line-height: 1.4;
    position: absolute;
    left: 1vw;
    bottom: 1vw;
    padding-right: 1vw;
}

.partners-program-aboutreferal-account-item-rewards-list{
    width: 100%;
    position: absolute;
    left: 0;
    top: 3.5vw;
    bottom: 0.5vw;
    padding: 0 1vw;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

.partners-program-rewards-scroll{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    width: 100%;
}

.partners-program-reward-item{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.5vw;
    padding: 0.8vw;
    border-left: 3px solid #9bc7ec;
    display: flex;
    flex-direction: column;
    gap: 0.3vw;
}

.partners-program-reward-item-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.partners-program-reward-item-amount{
    font-size: 1.2vw;
    font-weight: 700;
    color: #27ae60;
}

.partners-program-reward-item-date{
    font-size: 0.8vw;
    font-weight: 400;
    color: #7f8c8d;
}

.partners-program-reward-item-description{
    font-size: 0.9vw;
    font-weight: 400;
    color: #141F33;
    line-height: 1.3;
}

.partners-program-reward-item-user{
    font-size: 0.8vw;
    font-weight: 400;
    color: #7f8c8d;
    font-style: italic;
}

.partners-program-rewards-empty{
    font-size: 0.9vw;
    font-weight: 400;
    color: #7f8c8d;
    text-align: center;
    padding: 1vw;
    line-height: 1.4;
}

/* Скроллбар для ленты начислений */
.partners-program-aboutreferal-account-item-rewards-list::-webkit-scrollbar {
    width: 4px;
}

.partners-program-aboutreferal-account-item-rewards-list::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.partners-program-aboutreferal-account-item-rewards-list::-webkit-scrollbar-thumb {
    background: #9bc7ec;
    border-radius: 2px;
}

.partners-program-aboutreferal-account-item-rewards-list::-webkit-scrollbar-thumb:hover {
    background: #8bced6;
}

.partners-program-right-table{
    width: 95%;
    height: 100%;
    gap: .3vw;
    justify-content: start;
    margin-top: .5vw;
}
.partners-program-right-table-item{
    width: 100%;
    height: 3vw;
    gap: 1vw;
    justify-content: start;
}

.partners-program-right-table-item-img{
    width: 3vw;
    height: 3vw;
    background: linear-gradient(90deg, #9bc7ec 0%, #8bced6 50%, #a2d2b7 100%);

}
.partners-program-right-table-item-img-img{
    width: 80%;
    height: 80%;
    background-image: url("../../../IMG/profiles/white/ProfileAdd.png");
}
/*
*{
    border: 1px solid #ff0000;
}*/