* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  background-image: url(../IMG/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  filter: blur(2px);
}
#candlesCanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0.8;
  pointer-events: none;
}
.root {
  position: relative;
  z-index: 10;
  width: 100vw;
  height: 100vh;
}

button,
.button {
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.bro {
  border-radius: 50%;
}

.bru {
  border-radius: 0.8vw;
}
.brc {
  border-radius: 0.8vw;
}

.img {
  object-fit: contain;
  object-position: center;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.img-shadow-white {
  filter: drop-shadow(0 0 1.5vw rgba(255, 255, 255, 0.5));
}

.img-shadow-black {
  filter: drop-shadow(0 0 1.5vw rgba(0, 0, 0, 0.5));
}

.blur-active {
  filter: blur(0px);
  animation: blur-active 0.3s ease-in-out forwards;
}

@keyframes blur-active {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(300px);
  }
}

.blur-blur {
  filter: blur(300px);
  animation: blur-blur 0.3s ease-in-out forwards;
}

@keyframes blur-blur {
  0% {
    filter: blur(300px);
  }
  100% {
    filter: blur(0px);
  }
}

/*<run> LOGIN STYLES========================>*/
.login-container-blur {
  position: relative;
  box-shadow: 0 0 0.8vw 0.2vw rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.17);
  filter: blur(100px);
  transition: 0.5s ease;
  width: 25vw;
}
.login-container-blur:hover {
  filter: blur(0px);
  background: rgba(18, 11, 124, 0.17);
  box-shadow: 0 0 1.5vw 0.8vw rgb(255, 255, 255);
}

.inputFocus {
  filter: blur(0px);
  background: rgba(18, 11, 124, 0.17);
  box-shadow: 0 0 1.5vw 0.8vw rgb(255, 255, 255);
}
.login-container {
  background: transparent;
  height: 100%;
  width: 100%;
  padding: 0 1vw 1vw 0;
}

.login-container-body {
  gap: 1vw;
}
.login-container input {
  text-align: center;
}
.login-container button {
  text-align: center;
}
.login-submit {
  display: none;
}

@media (min-width: 1280px) and (max-width: 1920px) {
  .login-container-blur {
    padding-top: 1vw;
    width: 20vw;
    height: 40vw;
  }

  .login-container,
  .login-container-body {
    width: 100%;
    height: 100%;
    gap: 1vw;
  }

  .login-container h1 {
    font-size: 2vw;
    font-weight: 600;
    text-transform: uppercase;
  }

  .login-container input {
    width: 80%;
    height: 2vw;
    border: none;
    background: rgba(255, 255, 255, 0.17);
    box-shadow: inset 0 0 0.8vw 0.2vw rgb(255, 255, 255);
  }

  .login-container button {
    width: 80%;
    height: 2vw;
    border: none;
    background: rgba(255, 255, 255, 0.17);
    box-shadow: inset 0 0 0.8vw 0.2vw rgb(255, 255, 255);
    font-size: 1vw;
    font-weight: 600;
    text-transform: uppercase;
  }

  .radio {
    position: relative;
    gap: 0.5vw;
  }

  .radio input {
    width: 5vw;
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;

    padding: 4px 8px;
    background: #454857;
    color: #bdbdbdbd;
    font-size: 1vw;
    font-family: "Arial", sans-serif;
  }
  .radio input:checked {
    background-image: linear-gradient(180deg, #95d891, #74bbad);
    color: #111;
    box-shadow: 0 0 0.8vw 0.2vw #ffffff;
    text-shadow: 0 1px 0px #79485f7a;
  }

  .radio input:before {
    content: attr(label);
    display: inline-block;
    text-align: center;
    width: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .login-container-blur {
    padding-top: 1vw;
    width: 20vw;
  }

  .login-container,
  .login-container-body {
    width: 100%;
    height: 100%;
    gap: 1vw;
  }

  .login-container h1 {
    font-size: 2vw;
    font-weight: 600;
    text-transform: uppercase;
  }

  .login-container input {
    width: 80%;
    height: 3vw;
    border: none;
    background: rgba(255, 255, 255, 0.17);
    box-shadow: inset 0 0 0.8vw 0.2vw rgb(255, 255, 255);
  }

  .login-container button {
    width: 80%;
    height: 3vw;
    border: none;
    background: rgba(255, 255, 255, 0.17);
    box-shadow: inset 0 0 0.8vw 0.2vw rgb(255, 255, 255);
    font-size: 2vw;
    font-weight: 600;
    text-transform: uppercase;
  }
}

@media (min-width: 768px) and (max-width: 1025px) {
}

@media (min-width: 320px) and (max-width: 767px) {
  .login-container-blur {
    padding-top: 2vw;
    width: 90vw;
  }

  .login-container,
  .login-container-body {
    width: 100%;
    height: 100%;
    gap: 3vw;
  }

  .login-container h1 {
    font-size: 10vw;
    font-weight: 600;
    text-transform: uppercase;
  }

  .login-container input {
    width: 80%;
    height: 12vw;
    border: none;
    background: rgba(255, 255, 255, 0.17);
    box-shadow: inset 0 0 0.8vw 0.2vw rgb(255, 255, 255);
  }

  .login-container button {
    width: 80%;
    height: 12vw;
    border: none;
    background: rgba(255, 255, 255, 0.17);
    box-shadow: inset 0 0 0.8vw 0.2vw rgb(255, 255, 255);
    font-size: 7vw;
    font-weight: 600;
    text-transform: uppercase;
  }
}

/*<stop> LOGIN STYLES========================>*/

/*<run>PERSONAL ROOM STYLES========================>*/
.personal-room-container {
  width: 100%;
  height: 100%;
  background: transparent;
}
.personal-room-header {
  width: 100%;
  height: 5vh;
  background: transparent;
  justify-content: space-between;
  color: #73ff00;
}
.personal-room-span {
  font-size: 2vw;
  font-weight: 600;
  text-transform: uppercase;
}
.personal-room-button {
  width: 8vw;
  height: 4vh;
  background: #da0404d7;
  cursor: pointer;
  color: #fff;
  font-size: 1vw;
  font-weight: 600;
  text-transform: uppercase;
}
.personal-room-button:hover {
  background: #b30101;
}
.personal-room-body {
  width: 100%;
  height: 100%;
  background: transparent;
}
.personal-room-nav {
  width: 15vw;
  height: 100%;
  background: transparent;
}
.personal-room-nav-list {
  width: 100%;
  height: 100%;
  background: transparent;
  list-style: none;
  text-align: center;
  gap: 1vw;
  padding: 0 1vw;
  background-color: #ffffff4f;
  border-radius: 0 0.8vw 0 0;
}
.personal-room-nav-item {
  width: 100%;
  height: 5vh;
  background: #33ff0073;

}
.personal-room-nav-link {
  width: 100%;
  height: 100%;
  background: transparent;
  color: #fff;
  font-size: 1vw;
  font-weight: 600;
  text-transform: uppercase;
}
.personal-room-content {
  width: 100%;
  height: 100%;
  background: transparent;
}

/*<stop> PERSONAL ROOM STYLES========================>*/
